<layer-list xmlns:android="http://schemas.android.com/apk/res/android" android:opacity="opaque">
  <item android:drawable="@color/launchScreenBackground"/>
  <item>
    <bitmap
      android:src="@drawable/launch_screen"
      android:gravity="center"/>
  </item>
</layer-list>
