# {{documentTitle}} {{statusBadge status}}

<!---
Use shields.io generator :
![Status: Approved](https://img.shields.io/badge/status-approved-green.svg)
![Status: Draft](https://img.shields.io/badge/status-draft-blue.svg)
![Status: Rejected](https://img.shields.io/badge/status-rejected-orange.svg)
![Status: Deprecated](https://img.shields.io/badge/status-deprecated-lightgrey.svg)
-->

## Context

<!---
What is the issue that we're seeing that is motivating this decision or change.
-->

## Decision

<!---
What is the change that we're actually proposing or doing.
-->

## Consequences

<!---
What becomes easier or more difficult to do because of this change.
-->
